/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34; /* Dark background */
  padding: 20px;
  color: white; /* White text */
}

section {
  padding: 20px; /* Space around sections */
}

h2 {
  color: #4caf50; /* Green text for section headers */
}
